@import "../../../../common/styles.scss";

.moving-text-contain {
  .moving-text {
    width: 100%;
    max-width: 350px;
    position: absolute;
    left: 0;
    top: 120%;
    z-index: 0;
    .performance {
      color: $light-color;
      font-weight: 400;
    }
    .paragraph {
      color: $light-color;
      p {
        font-weight: 300;
        margin-bottom: 0;
      }
    }
  }
  .slide-in {
    animation-name: slideInText;
    animation-duration: 3s;
  }

  .form {
    input,
    input:focus,
    textarea {
      outline: none;
      border: none;
      border-bottom: 1px solid $base-color;
      background-color: transparent;
      color: #fff;
      width: 100%;
      padding: 8px 0;
      margin-bottom: 10px;
      font-size: 15px;
    }
  }

  @keyframes slideInText {
    0% {
      top: 130%;
    }
    50% {
      top: 0;
    }
    100% {
      top: -120%;
    }
  }
}
