@import "../../../common/styles.scss";

.slide1 {
  position: relative;
  .content {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    .left-section {
      position: relative;
      overflow: hidden;
      .line {
        margin-top: 23px;
        width: 100%;
        border-width: 2.8px;
        opacity: 1;
        color: $light-color;
      }
      .home-slider-btn {
        z-index: 99999;
        margin-top: 18rem;
        margin-left: 2.3rem;
      }
      .moving-text-contain {
        .moving-text {
          width: 100%;
          max-width: 350px;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          .performance {
            color: $light-color;
            font-weight: 400;
          }
          .paragraph {
            color: $light-color;
            p {
              font-weight: 300;
              margin-bottom: 0;
            }
          }
        }
        .slide-in {
          animation-name: slideInText;
          animation-duration: 5s;
          animation-timing-function: ease;
        }

        .form {
          input,
          input:focus,
          textarea {
            outline: none;
            border: none;
            border-bottom: 1px solid $base-color;
            background-color: transparent;
            color: #fff;
            width: 100%;
            padding: 8px 0;
            margin-bottom: 10px;
            font-size: 15px;
          }
        }

        @keyframes slideInText {
          0% {
            top: 100%;
          }
          50% {
            top: 0;
          }
          100% {
            top: -100%;
          }
        }
      }
    }
    .right-section {
      .slide-in-no {
        animation-name: slideInNo;
        animation-duration: 3s;
        animation-timing-function: ease;
      }
      @keyframes slideInNo {
        0% {
          top: 100%;
        }
        100% {
          top: 0;
        }
      }
      .slide-no {
        position: relative;
        overflow: hidden;
        .slide-no-count {
          position: absolute;
          left: 5rem;
          top: 100%;
        }
      }
      section {
        max-width: 180px;
        margin-left: auto;
        .privacy-policy-link {
          color: $base-color;
          text-decoration: none;
        }
        .slide-indicators {
          list-style-type: none;
          li {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: rgb(128, 128, 128);
            margin-bottom: 8px;
            opacity: 1;
            box-shadow: 0 0 10px rgba(255, 255, 255, 1);
            margin-left: auto;
            margin-right: 5vw;
          }
          .active {
            box-shadow: none !important;
            background-color: #fff !important;
          }
        }
      }
      .social-icons {
        margin-top: 5rem;
        .line {
          width: 50px;
          border-width: 2px;
          opacity: 1;
          color: grey;
          margin-top: 15px;
          margin-left: 12px;
          margin-right: 12px;
        }
        .text-grey {
          color: grey;
        }
      }
    }
  }
}
